@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Roboto+Slab:wght@300&display=swap');




html{

    font-size:80%;
}


#toggle{
    top: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background: #03a9f4;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;


}

#toggle::before{
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: #fff;
    transform: translateY(-5px);
    transition: 0.2s;

}

#toggle::after{
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: #fff;
    transform: translateY(5px);
    transition: 0.2s;

}

#toggle.active::before{
    transform: translateY(0px) rotate(45deg);
}
#toggle.active::after{
    transform: translateY(0px) rotate(-45deg);
}

#sidebar{
    position:fixed;
    top:0;
    left:-300px;
    width:300px;
    height: 100vh;
    background: #003147;
    transition: 0.5s;
}

#sidebar.active{
    left:0px;
}

body{
    font-family: 'Comforter', cursive;
    font-family: 'Roboto Slab', serif;

}


.navbar-toggler{

}


.myWay{
    min-height: 50vh;
 border: 2px solid rgb(247, 167, 167);
 border-radius: 10px;
 box-shadow: #2d2d2d;
}

.nav-link{
    font-weight: bold;
    font-size: 1.5rem;
    padding-left: 5rem !important;
    padding-right: 5rem !important;
}

.btn-dark{
    color: #fff;
    background-color: #7952b3;
    border-color: #7952b3;
    border-radius: 0.25rem;
    font-size: 1.2rem;
}

.btn-dark:hover{
    color: #fff;
    background-color: #6325c0;
    border-color: #7952b3;
    /* border-color: #0d141b; */
}

nav{
    display: flex;
    position: sticky !important;
}

.myWay1{
    min-height:100vh;

}

.myWayimage{
    max-width: 150px;
}


.banner{
    width: 100%;
    height: 300px;
    position: relative;
    background: #e7e7e7;
    background-size: cover;
    background-position: center;
    /* justify-content: center; */
    /* text-align: center; */
}


.banner-upload-btn{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
a{
    text-decoration: none;
}

.nav-item a{
    display: flex;
    flex-direction: row;
}

.header-one{
    background-color: #fff;
    opacity: 1;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    text-decoration: none;
    margin: 10px;
    padding: 5px;
    font-weight: bold;
    font-size: 1.5rem;
}  

.nav-item a{
    display: flex;
    flex-direction: row;
}

.banner-upload-btn img{
    width: 30px;
    
}

/* .banner-upload-n:h{
    cursor: pointer;
    width: 80%;
    animation: 2s ease;
} */

.blog{
    width: 80vw;
    min-width: 400px;
    height: 100px;
    display: block;
    margin: auto;
    padding: 50px 0;
}

textarea::-webkit-scrollbar{
    width: 10px;
}

textarea::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.title,
.article{
    width: 100%;
    background-size: cover;
    min-height: 50px;
    height: auto;
    outline: none;
    font-size: 50px;
    font-weight: 600;
    color: #2d2d2d;
    resize: none;
    border: none;
    padding: 10px;
    border-radius: 10px;
}

.title::placeholder,
.article::placeholder{
    color: #2d2d2d;
}

.article{
    height: 500px;
    font-size: 20px;
    margin-top: 20px;
    line-height: 30px;
    font-weight: 500;
    padding-bottom: 100px;
    white-space: pre-wrap;
}

.blog-options{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    border: none;
    outline: none;
    cursor: pointer;
}

.btn.grey{
    background: #a5a5a5;
    color: #fff;
    margin-left: 20px;
    font-size: 14px;
}